<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <title th:text="#{email.approve.disapprove.title}">answer for borrow request</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.activation.greeting(${user.login})}">
    Dear
</p>
<p th:text="#{email.approve.disapprove.text1(${book})}">
    Your borrow request has been processed
</p>
<p th:text="#{email.approve.disapprove.text2(${isApproved})}">
    Result:
</p>
<p>
    Regards,
</p>
</body>
</html>
